.login{
    display: flex;
    height: 90vh;
    align-items: center;
}

img{
    max-width: 100%;
}

.icon{
    width: 30px;
    border-radius: 50%;
}

.story-cards{
    padding-top: 2rem;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: unset;
}

