.login{
    display: flex;
    height: 90vh;
    align-items: center;
}

img{
    max-width: 100%;
}

.card{
    margin-top: 2rem;
}

.row.container{
    margin-left: 0;
}

.icon{
    width: 30px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: unset;
}


.edit-icon{
    color: white;
    background-color: rgb(20, 20, 189);
    position: absolute;
    right: -10px;
    top: -10px;
    border: 2px solid black;
    width: 30px;
    padding-top: 5px;
    height: 30px;
    border-radius: 50%;
    transition: transform 20ms ease-in;
}

.edit-icon:hover{
    transform: scale(1.1);
}


.small-button{
    padding: 2px 2px;

}

.btn-danger.small-button{
    margin-left: 7px;
}


#deleteForm{
    display: inline;
    
}


#profile-pic{
    margin: 0 auto;
    width: 120px;
    flex-basis: 45%;
    border-radius: 50%;
}






@media(min-width:767.98px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .profile-grid .profile-card{
        grid-column: 1/3;
    }


    .small-button{
        padding: 2px 5px;
    
    }

    .profile-card{
        flex-direction: row;

    }

    #profile-pic{

        margin: auto 1rem;
        align-self: center;
        flex-basis: 30%;
        border-radius: 50%;
    }
}

@media(min-width:1200px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}