.login{
    display: flex;
    height: 90vh;
    align-items: center;
}

img{
    max-width: 100%;
}

.card{
    margin-top: 2rem;
}

.row.container{
    margin-left: 0;
}

.icon{
    width: 30px;
    border-radius: 50%;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: unset;
}

.clickable{
    text-decoration: underline;
}


.edit-icon{
    color: white;
    background-color: rgb(0, 106, 255);
    position: absolute;
    right: -10px;
    top: -10px;
    border: 2px solid black;
    width: 30px;
    padding-top: 5px;
    height: 30px;
    border-radius: 50%;
}

.small-button{
    padding: 2px 2px;
}

.edit-icon,
.small-button{
    transition: transform 20ms ease-in;
}


.edit-icon:hover,
.small-button:hover{
    transform: scale(1.1);
}



.btn-danger.small-button{
    margin-left: 7px;
}

.card{
    border: 1px solid gray;
}

.card-body{
    padding: 1rem 1rem .4rem 1rem;
}

.card-body .reaction-container{
    margin: 2rem auto 0 auto;
    text-align: left;
    display: flex;
    /* justify-content: space-around; */
}

#like-btn{
    color: blue;
}

#heart-btn{
    color: red;
}

#laugh-btn{
    color: rgb(117, 117, 1);
}


.single-reaction{
    width: max-content;
    margin-right: .75rem;
    flex-direction: column;
}

.single-reaction a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-reaction p {
    margin-bottom: 0;
    font-size: .75rem;
}


.profile-card{
    padding: 2rem 0;
}

.card-header{
    background-color: #ffc8cd;
}

.card-footer{
    background-color: #ffeff1;
    font-size: .9rem;
}

#deleteForm{
    display: inline;
    
}


#profile-pic{
    margin: 0 auto;
    width: 120px;
    flex-basis: 45%;
    border-radius: 50%;
}






@media(min-width:767.98px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .profile-grid .profile-card{
        grid-column: 1/3;
    }

    .no-story-label{
        grid-column: 3/-1;
    }

    .small-button{
        padding: 2px 5px;
    
    }

    .profile-card{
        flex-direction: row;

    }

    #profile-pic{

        margin: auto 1rem;
        align-self: center;
        flex-basis: 30%;
        border-radius: 50%;
    }
}

@media(min-width:1200px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}