<% layout('layouts/boilerplate') %>
<div class="row text-center login" >
    <section class="card col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="card-body">
            <h3 class="pb-3 fs-1"><i class="fas fa-book-reader"></i> StoryBooks</h3>
            <p class="card-subtitle">Create public and private stories from your life</p>
            <hr>
            <button type="button" class="btn btn-danger">
                <a href="/auth/google"><i class="fab fa-google d-inline-block pe-2"></i>Login With Google</a>
            </button>
        </div>
    </section>
</div>